<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AgendaAtendimentos.Properties.Settings.DB_HairUpConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DB_HairUp;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AgendaAtendimentos.Properties.Settings.DB_HairUpConnectionString1"
            connectionString="Data Source=DOUGLASHOC3040;Initial Catalog=DB_HairUp;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AgendaAtendimentos.Properties.Settings.DB_HairUpConnectionString2"
            connectionString="Data Source=DOUGLASHOC3040;Initial Catalog=DB_HairUp;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>